name: Build Java File

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Compile and package
      run: mvn clean install
      
    - name: List the build artifact
      run: ls /target
